@mixin container-positioning {         
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
}

@mixin container-positioning-2 {               
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}