@use 'sass:list';
@import 'base/import';
@import 'component/import';
@import 'utilities/import';


body {
    font-family: 'lato', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: gray;
    margin: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    div {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 1rem;
        div {
            margin: auto;
            align-self: center;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            padding: 1rem;
            h4 {
                margin: auto;
                text-align: center;
            }
        }
    }
}